body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: "Inter", sans-serif;
}

h1 {
    margin: 33px 51px 30px 51px;
}

#hero {
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#number-input {
    font-weight: 800;
    font-size: 58px;
    line-height: 24.39px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #B295FF;
    width: 130px;
    height: 83px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
}

#convert-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    padding: 9px 28px;
    border-radius: 5px;
    border: none;
    margin-top: 27px;
    margin-bottom: 34px;
}

#results {
    margin: 36px 0;
}

.results-container {
    background-color: white;
    border-radius: 5px;
    margin: 24px 25px;
    padding: 30px 77px 19px 77px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #5A537B;
    margin-top: 0;
    margin-bottom: 9px;
}

.result-el {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #353535;
    margin-top: 0;
    margin-bottom: 0;
}

